<h1> Sign up! </h1>
<% if !@user.errors.empty? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with scope: :user, url: users_path, local: true do |form| %>
<p>
	<%= form.label :username %><br>
	<%= form.text_field :username %>
</p>

<p>
	<%= form.label :email %><br>
	<%= form.text_field :email %>
</p>

<p>
	<%= form.label :password %><br>
	<%= form.password_field :password %>
</p>
  <%= recaptcha_tags %>

<p>
	<%= form.submit "Submit" %>
</p>
<br>
<br>
<% end %>